body::-webkit-scrollbar-track {
  borderRadius: 0px;
  backgroundColor: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  backgroundColor: white;
}

body::-webkit-scrollbar-thumb {
  borderRadius: 10px;
  backgroundColor: rgb(128, 128, 128, 0.5);
}

